@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  position: relative;
  background-image: linear-gradient(to bottom, transparent 70%, #020C14);
}

.bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/Bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -50px;
  z-index: -1;
}

.opacity {
  background-color: rgba(0, 0, 0, 0.2);
}